{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 pin-detail-container p-4">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <img style="object-fit: cover;" class="rounded" src="{{ board.cover.url }}" width="180" height="180">
                </div>
                <div class="mt-5 col-md-8">
                    <label for="">Обложка доски</label>
                    <p>{{ form.cover }}</p>
                </div>
            </div>
            <div class="mt-2">
                <label for="">Название доски</label>
                <p>{{ form.title }}</p>
            </div>
            <div class="">
                <label class="ms-2">Оставить доску секретной</label>
                {{ form.is_private }}
            </div>
            <div class="mt-3">
                <label for="">Описание:</label>
                <p>{{ form.description }}</p>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="red-btn btn ps-3 pe-3 text-white"><b>Готово</b></button>
                <a href="{% url 'boards:delete_board' board.id %}" class="red-btn btn ps-3 pe-3 text-white"><b>Удалить</b></a>
            </div>
            </form>
    </div>

    <div class="col-md-3"></div>
</div>
{% endblock %}
