<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <title>Описание</title>
 </head>
 <body>
  <h1><font size="7" color="MediumOrchid" face="Arial">Что такое Pinterest?</font></h1>
  <p> <font size="5" color="purple" face="Arial">Pinterest — это визуальный инструмент для поиска идей, таких как рецепты,<br>вдохновение для дома и стиля и многое другое.
    <br> Из миллионов пинов в Pinterest вы всегда сможете найти тот, что станет для вас источником вдохновения.
    <br> Сохраняйте понравившиеся пины на досках — это поможет вам упорядочить и легко находить идеи.
    <br> Вы также можете создавать пины, чтобы делиться своими идеями с другими пользователями Pinterest.</font></p>

    <img src="https://www.generations-plus.ch/sites/default/files/u13839/pinterest.jpg"
    width="600px"
    alt="Загружай любые картинки...">
    <a href="/" target="_blank"><font size="4" color="MediumOrchid" face="Arial"><br>Окунись в нашу атмосферу</font></a>
 </body>
</html>